
.infoSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;  
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 24px;
}


.titleSection {
  width: 100%;   
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start; 
}

.title {
  @include mediumTypo ($primary-color, 36);
  text-align: left;
  
}

.location {
  @include mediumTypo (black, 18);
  text-align: left;
}

.tagSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;  
  gap: 7px;
}

.tag {
  @include boldTypo (white, 14);   
  vertical-align:middle; 
  text-align: center;
  padding: 2px 20px;
  border-radius: 10px;
background: $primary-color;
line-height: normal;

}


.hostSection {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-end; 

}
