header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 45px 100px 50px;
  
}
.contentHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logoVecHeader {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: 68px;
  width: 210px;
  img {
    width: 100%;
    fill: $primary-color;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 57px;
  @include mediumTypo(black, 24);
}

footer {
  position: relative;
  background-color: $second-background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-top: 66px;
  padding-bottom: 29px;
  width: 100%;
}
.contentFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
.logoVecFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  height: 39px;
  width: 122px;
}

.copyright {
  @include mediumTypo(white, 24);
}
