.housingInsert {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 60px;
  background-color: $lightgrey;
  border-radius: 25px;
  padding: 50px;
  margin: 40px 0;
}

.housingCard {
  width: 340px;
  height: 340px;
  background-color: $primary-color;
  border-radius: 25px;
}
.housingCard:hover {
  text-decoration: none;
}

.housingCard img {
  width: 100%;
  height: 285px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
  box-sizing: border-box;
}

.housingCardText {
  @include mediumTypo(white, 18);
  display: flex;
  text-align: left;
  align-items: center;
  margin: 5px 20px 20px;
  line-height: normal;
}
