
.infoSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;  
  margin-top: 24px;
  margin-bottom: 24px;
}


.titleSection {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start; 
}

.title {
  @include mediumTypo ($primary-color, 36);
  
}

.location {
  @include mediumTypo (black, 18);
  

}

.tagSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;  
  gap: 7px;
}

.tag {
  @include boldTypo (white, 14);   
  vertical-align:middle; 
  text-align: center;
  padding: 4px 10px;
  border-radius: 10px;
background: $primary-color;
line-height: normal;

}


.hostSection {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-end; 

}

.hostProfil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  gap:10px;

}

.hostName {
  @include mediumTypo ($primary-color, 18)
}

.hostPicture {
  position: relative;  
  border-radius:50%;
  width:64px;
  height:64px;
  object-fit: cover;
}


.housingRating {
  margin : 10px;
  .fa-style-r {
    color: $primary-color;
  }
  .fa-style-g {
    color: $mediumgrey;
  }

  
}