
.infoSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;  
}


.titleSection {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
}

.title {

}

.localisation {

}

.tagSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tag {

}

.hostSection {

}

.hostProfil {}

.hostName {}

.hostPricture {}

.housingRating {}