/*.housing-insert {
  background: grey;
  padding: 45px 18px 65px;
}

.housing-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}

.card {
  @include Flexbox(column, left, center);
  gap: 16px;
  width: 100%;
  border-radius: 15px;
  background: $white-grey-black;
  box-shadow: $card-menu-shadow;
  @include Roboto(500, rem(16), black);
  position: relative;
}

.card img {
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.card-content {
  @include Flexbox(row, space-between, center);
  width: 100%;
  padding: 0 25px 15px 13px;
  height: calc(100% - 231px);
}

.card-txt {
  gap: 3px;
  @include Flexbox(column, center, center);
}

.card-title {
  @include Roboto(500, rem(18), black);
}

.card-subtitle {
  @include Roboto(300, rem(17), black);
}
