/*
@media screen and (width <= 1024px) {
 
}
*/

@media screen and (max-width: 767px) { 
    

    /*Header*/

    header { 
        padding: 20px 20px 27px; 
        

        .logoVecHeader {
            height: 47px;
            width: 145px;
        }

        .nav {            
            gap: 26px;
            @include mediumTypo(black, 12);
            text-transform: uppercase;
          }
    }
   
    /*footer*/
    footer {
      margin-top: 27px;
      padding-bottom: 58px;
     
      .contentFooter {
        gap: 20px;
      }
      
      .copyright {
          @include mediumTypo(white, 12);
          width: 134px;
          height: 46px;
          padding: 0 10px;
        }        
  }

   /*Banner*/
   .banner {
    height: 111px;
    border-radius: 10px;
    img {   
      border-radius: 10px;    
    }
   }
  
  .bannerTitle {
    left: 30%;   
    transform: translateX(-15%);   
    @include boldTypo(white, 24);
  }

    /*Page Home*/
    .housingInsert {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;        
        background-color: $primary-background-color;
        border-radius: 0;
        padding: 0 ;
        margin-top: 22px;  
      }

      .housingCard {
        
        height: 255px;         
      }
        
    /*collaspe*/
    .collapseSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;  
        margin-left: 0;
        margin-right: 0;
      }
      
      .collapseSection2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 13px;
        
      }
      
      .collapse-card {
        width: 100%;
      }
      
      .collapse-title {
       @include boldTypo(white, 13);
        padding: 7px 10px;
      }
      
          
      .collapse-content {        
        @include regularTypo(12);        
      }

      .active .collapse-content {        
        padding: 15px;
      }
      .fa-style {
        font-size: large;
      }
    /*Carousel*/
    .carousel {
             
        height: 255px;
      }
      
      .slide {
        border-radius: 10px;
         
      }
            
      .arrow {
        width: 24px;
        height: 24px;
        
      }
            
      .arrow-left {
        left: 1.3rem;
      }
      
      .arrow-right {
        right: 1.3rem;
      }
      
      .carouselCounter {
         bottom: 10px;       
        @include mediumTypo (white, 13);  
       
      }

    /*Page Logement*/

    .infoSection {
      width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;  
        margin-top: 15px;
        margin-bottom: 20px;
      }

      .titleSection {
        width: 100%;         
      }
      
      .title {
        @include mediumTypo ($primary-color, 18);
        
      }
      
      .location {
        @include mediumTypo (black, 14);
              
      }
      
      .tagSection {
        margin-top: 7px;  
        gap: 7px;
      }
      
      .tag {
        @include boldTypo (white, 10);           
      
      }
      
      
      .hostSection {
        width: 100%;
        margin-top: 16px;
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        align-items: center; 
        gap : 10px
      
      }
      
           
      .hostName {
        @include mediumTypo ($primary-color, 12);
        text-align: right;
      }
      
      .hostPicture {
        position: relative;  
        border-radius:50%;
        width:32px;
        height:32px;
        object-fit: cover;
      }
      
      
      .rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;  
        margin-top : 0px;
        .fa-style-r {
          color: $primary-color;
          font-size: small;
        }
        .fa-style-g {
          color: $mediumgrey;
          font-size: small;
        }
      /*modifier taille icones*/        
      }

   /*Page 404*/
   .errorSection{
    gap: 113px;
    margin: 86px 0;
  }
  
  .errorStatus {
    @include boldTypo($primary-color, 96);
    
  }
  
  .messageError {
    @include mediumTypo($primary-color, 18);
   
  }
  .linkHomeError {
    @include mediumTypo(black, 14);
    
  }
  
}
